{{#if _audio}}
<div class="audio-controls" role="button" aria-label="{{_audio.buttonAria}}">
	<a class="icon play" href="#" data-autoplay="{{_audio.autoplay}}" id="{{_audio.id_audio}}" data-mp3="{{_audio.mp3}}" data-ogg="{{_audio.ogg}}" data-intern="{{_audio.intern}}"></a>
</div>
{{/if}}